@model MacroEntry

<div class="container mt-2">
    <div class="text-end">
        <button class="btn btn-secondary mx-2 mb-2" onclick="hangleAddingNewDay()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z" />
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
            </svg>
            New
        </button>
    </div>
    <div class="row align-items-center">

        <div class="col text-start">
            <a class="btn btn-outline-primary mx-2 px-3" asp-controller="MacroEntries" asp-action="EditEntry">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
                Edit
            </a>

        </div>
        <div class="col-auto text-center">
            <h1>Calories</h1>
            <h3 id="calories">@Model.Calorie</h3>
        </div>
        <div class="col"></div>
    </div>

    <div class="row text-center my-4">
        <div class="col-4">
            <h2>Fat</h2>
            <h3 id="fat">@Model.Fat</h3>
        </div>
        <div class="col-4">
            <h2>Carb</h2>
            <h3 id="carb">@Model.Carb</h3>
        </div>
        <div class="col-4">
            <h2>Protein</h2>
            <h3 id="protein">@Model.Protein</h3>
        </div>
    </div>

    <hr />

    <form asp-action="Entry" asp-route-id="@Model.Id" method="post">
        <div class="row g-3 text-center">

            <div class="col-md-4">
                <label asp-for="Fat"  class="form-label"><h5>Fat</h5></label>
                <input asp-for="Fat" value="" class="form-control mx-auto w-75" />
            </div>
            
            <div class="col-md-4">
                <label asp-for="Carb" class="form-label"><h5>Carb</h5></label>
                <input asp-for="Carb" value="" class="form-control mx-auto w-75" />
            </div>

            <div class="col-md-4">
                <label asp-for="Protein" class="form-label"><h5>Protein</h5></label>
                <input asp-for="Protein" value="" class="form-control mx-auto w-75" />
            </div>

            <div class="mt-3">
                <button class="btn btn-primary w-25" type="submit">Count</button>
            </div>
        </div>
    </form>

</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

          const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          }
        });

        function hangleAddingNewDay() {
            Swal.fire({
                title: "New Day?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel",
                theme: "dark",
                width: '300px'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "@Url.Action("NewDay", "MacroEntries")",
                        type: "POST",
                        success: function () {
                            $("#fat").text("0");
                            $("#carb").text("0");
                            $("#protein").text("0");
                            $("#calories").text("0");
                            Toast.fire({
                                icon: "success",
                                title: "New Day Created!",
                                theme: "dark",
                                width: '300px'

        });
                        },
                        error: function () {
                            Swal.fire("Error!", "Something went wrong.", "error");
                        }
                    });
                }
            });
        }
    </script>
}